<div class='header'>
    <div class="topBar">
        <button class="changeDomainButton">
            Facebook <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>
    </div>
    <div class="addCookie">
        <button class="addCookieButton">
            Adicionar cookie <fa-icon [icon]="faPlus"></fa-icon>
        </button>
    </div>
    <div class="goToAccount">
        <button class="accountButton">
            <fa-icon [icon]="faUserCircle" size="lg"></fa-icon>
        </button>
    </div>
</div>
