$cBgPrimary: #f1f5f9;
$cBgSecondary: #f9fbfd;
$cPrimary: #4680FF; // #4985ff; //#7496FD;
$cSecondary:  #ffa119; //#FEB64D;
$cTitlePrimary: #8C91A6;
$cTitleSecondary: #FEB64D; // white;

$cWhite: #fff;
$cGrayEee: #eee;
$cGrayCcc: #ccc;
$cGrayAaa: #aaa;
$cGray757: #757575;
$cGray767: #767d97;
$cGray333: #333;
