$c-bg-primary: #f1f5f9;
$c-bg-secondary: #f9fbfd;
$c-primary: #4985ff; //#7496FD;
$c-secondary: #FEB64D;
$c-title-primary: #8C91A6;
$c-title-secondary: #FEB64D; // white;

$c-white: #fff;
$c-gray-aaa: #aaa;
$c-gray-ccc: #ccc;
$c-gray-333: #333;
$c-gray-767: #767d97;

$c-link-primary: #000;