<div class="select">
  <select class="py-2">  
      <option
        value="domain_1"
        *ngFor="let domain of domains"
        [value]="domain.did"
        >{{ domain.name }}</option
      >
  </select>
  <span class="icon has-icon-right">
    <fa-icon [styles]="{'color': '#ccc'}" [icon]="faChevronRight" size="sm"></fa-icon>
  </span>
</div>


<section *ngIf="group" class="m-bottom-4">
  <ul>
    <li *ngFor="let item of cookiesObservable | async">
      <span class="mr-2">{{ item.name }}</span>
      <button 
          (click)="onSelectCookie(item)"
          class="btn bordered p-2"
      >
          <fa-icon [styles]="{'color': '#ccc'}" [icon]="faPen" size="sm"></fa-icon>
      </button>
      <button 
          (click)="onDeleteCookie(item)"
          class="btn bordered p-2"
      >
          <fa-icon [styles]="{'color': '#ccc'}" [icon]="faTrash" size="sm"></fa-icon>
      </button>
    </li>
  </ul>
  <button 
      (click)="onOpenCookieForm()"
      class="btn bordered p-2 secondary"
  >
    Adicione um cookie no grupo {{ group.name }}
  </button>
</section>

<div>
  <app-create-group
    (registerGroup)="onRegisterGroup($event)"
  ></app-create-group>
</div>

<app-create-cookie
    [hidden]="!activeCookieForm"
    #createCookieForm
    (registerCookie)="onRegisterCookie($event)"
    (updateCookie)="onUpdateCookie($event)"
></app-create-cookie>

{{ groupObservable | async | json }}
<div>
    <ul 
        *ngFor="let item of groupObservable | async" 
        key="item.id"
        class="cards"
    >
      <li class="card">
          <header class="flex">
              <h3 class="groupName">
                {{ item.name }}
              </h3>
              <input type="text" #groupName class="input" />
          </header>
        
          <div class="buttonGroup flex justifyEnd">
              <button 
                  (click)="onUpdateGroup(groupName, item)"
                  class="btn bordered mr-1 p-1"
              >
                  <fa-icon [styles]="{'color': '#ccc'}" [icon]="faPen" size="sm"></fa-icon>
              </button>
              <button 
                  (click)="onDeleteGroup(item)"
                  class="btn bordered mr-1 p-1"
              >
                  <fa-icon [styles]="{'color': '#ccc'}" [icon]="faTrash" size="sm"></fa-icon>
              </button>
              <button 
                  (click)="onSelectGroup(item)"
                  class="btn bordered mr-1 p-1"
              >
                  Show cookies
              </button>
          </div>
      </li>
    </ul>
</div>

