<select>
  <option
    value="domain_1"
    *ngFor="let domain of domains"
    [value]="domain.did"
    >{{ domain.name }}</option
  >
</select>
<ul>
  <li *ngFor="let item of cookiesObservable | async">
    <span>{{ item.cookieName }}</span>
  </li>
</ul>
<div>
  <app-create-group
    (registerGroup)="onRegisterGroup($event)"
  ></app-create-group>
</div>
<app-create-cookie
  (registerCookie)="onRegisterCookie($event)"
></app-create-cookie>
{{ groupObservable | async | json }}
<ul>
  <li *ngFor="let item of groupObservable | async" key="item.id">
    {{ item.name }}
    <input type="text" #groupName />
    <button (click)="onUpdateGroup(groupName, item)">
      update
    </button>
    <button (click)="onDeleteGroup(item)">
      Delete
    </button>
  </li>
</ul>
