<form
  class="section p-0"
  [formGroup]="createCookieForm"
  (ngSubmit)="onSubmit()"
>
  <div class="field">
    <label class="label">Name</label>
    <div class="field">
      <input
        class="input"
        type="text"
        placeholder="Text input"
        formControlName="name"
        #cookieName
      />
      <span
        class="c-main"
        *ngIf="
          !createCookieForm.get('name').valid &&
          createCookieForm.get('name').touched === true
        "
      >
        Nome do cookie precisa ter pelo menos 3 caracteres
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Provider</label>
    <div class="field">
      <input
        class="input"
        type="text"
        placeholder="Text input"
        formControlName="provider"
        #cookieProvider
      />
      <span
        class="c-main"
        *ngIf="
          !createCookieForm.get('provider').valid &&
          createCookieForm.get('provider').touched === true
        "
      >
        Provider do cookie precisa ter pelo menos 3 caracteres
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Validade</label>
    <div class="field">
      <input
        class="input"
        type="date"
        placeholder="Text input"
        formControlName="expDate"
        [value]="expDate | date: 'dd-MM-yyyy'"
        #cookieExpDate
      />
      <span
        class="c-main"
        *ngIf="
          !createCookieForm.get('expDate').valid &&
          createCookieForm.get('expDate').touched === true
        "
      >
        Você precisa escolher uma data para expiração
      </span>
    </div>
  </div>

  <div class="field is-grouped">
      <div class="field">
          <input 
              type="submit" 
              [disabled]="!createCookieForm.valid" 
              value="Cadastrar" 
              class="btn primary"
          />
      </div>
  </div>
</form>
