<section class="m-top-8">
  <button (click)="googleSignup()">Signup with google</button>
  <div *ngIf="loginMode; else createAccountContainer">
    <app-login-form (loginUser)="onLoginUser($event)"></app-login-form>
    <button (click)="toggleLogingMode()">Create account</button>
  </div>
  <ng-template #createAccountContainer>
    <app-create-acount-form
      (createUser)="onCreateUser($event)"
    ></app-create-acount-form>
    <button (click)="toggleLogingMode()">Login</button>
  </ng-template>
</section>
