<div class="wrapper">
  <section class="left">
    <div 
        *ngIf="loginMode; else createAccountContainer"
        class="signinContainer"  
    >
      <h1 class="login-title">Login</h1>
        <div class="createAccountContainer">
            Você tem conta?
            <button 
              (click)="toggleLogingMode()"
              class="createAccountButton"
            >
              Criar uma
            </button>
        </div>
        <app-login-form (loginUser)="onLoginUser($event)"></app-login-form>
        
        <div class="signinOrContainer">
          <span class="signinOr" >Ou</span>
        </div>

        <div class="googleSigninContainer">
          <button class="googleSigninButton" (click)="googleSignup()">
            <fa-icon [icon]="faGoogle" size="lg"  [styles]="{'color': '#ccc'}"></fa-icon>
            <span class="googleSigninButton__label">Logar com Google</span>
          </button>
        </div>
    </div>
    
    <ng-template #createAccountContainer>
      <app-create-acount-form
        (createUser)="onCreateUser($event)"
      ></app-create-acount-form>

      <div class="redirectToSigninContainer">
        <p>Já tem uma conta?</p>
        <button
            class="button button--link" 
            (click)="toggleLogingMode()">
            Login
        </button>
      </div>
    </ng-template>

  </section>

  <section class="right">
      <div class="headings">
          <h1 class="title"> LGPD Bot</h1>
          <p class="subtitle">A melhor forma de gerenciar cookies</p>
      </div>
  </section>
  
</div>
