<app-domain-form
    (registerDomain)="onRegisterDomain($event)"
    (updateDomain)="onUpdateDomain($event)"
    #domainFormGroup
></app-domain-form>

<div class="domains">
    <h3>Domínios</h3>
    <table class="domains__list">
        <thead>
            <tr>
                <td>Nome</td>
                <td>Url</td>
                <td>Ativo</td>
                <td>Ações</td>
            </tr>
        </thead>
        <tbody>
            <tr 
                *ngFor="let item of (domains); let index"
            >
                <td>
                    {{ item.name }}
                </td>
                <td>
                    <a target="_blank" href="{{ item.url }}"> {{ item.url }} </a>
                </td>
                <td [ngStyle]="{'color': item.active ? '#508102' : '#333' }">
                    {{ item.active ? "Sim" : "Não" }}
                </td>
                <td>
                    <button (click)="onSelectDomain(item)">
                        Editar
                    </button>
                    <button (click)="onDeleteDomain(item)">
                        {{ item.active ? "Desativar" : "Ativar" }} 
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>