<form
    #createDomainsForm="ngForm"
    (ngSubmit)="onSubmit(createDomainsForm)"
>
    <div>
        <label for='domainName'>Nome</label>
        <input 
            type='text'
            name='name'
            id='domainName'
            required
            [(ngModel)]="domain.name"
        />
    </div>
    <div>
        <label for='domainUrl'>Endereço</label>
        <input 
            type='text'
            name='url'
            id='domainUrl'
            required
            [(ngModel)]="domain.url"
        />
    </div>
    <div>
        <input type='submit' [disabled]="!createDomainsForm.form.valid" />
    </div>
    
</form>

<div>
    <ul>
        <li 
            *ngFor="let item of (domainsObservable | async)"
            [ngStyle]="{
                'display': 'flex', 
                'justify-content': 'space-between'
            }">
            <div>
                {{ item.name }}
            </div>
            <div>
                <a target="_blank" href="{{ item.url }}"> {{ item.url }} </a>
            </div>
            <div [ngStyle]="{'color': item.isVerified ? '#508102' : '#333' }">
                {{ item.isValidated ? "Sim" : "Não" }}
            </div>
            

        </li>
    </ul>
</div>