/* container */
.flex { display: flex; }

/* direction */
.flexCol { flex-direction: column; }
.flexRow { flex-direction: row; }
.flexColR { flex-direction: column-reverse; }
.flexRowR { flex-direction: row-reverse; }

/* wrap */
.flex.nowrap { flex-wrap: nowrap; }
.flex.wrap { flex-wrap: wrap; }
.flex.wrapReverse { flex-wrap: wrap; }

/* main axis */
.justifyStart { justify-content: flex-start; }
.justifyEnd { justify-content: flex-end; }
.justifyCenter { justify-content: center; }
.justifyBetween { justify-content: space-between; }
.justifyAround { justify-content: space-around; }
.justifyEvenly { justify-content: space-evenly; }

/* cross axis */
.alignStart { align-items: flex-start; }
.alignEnd { align-items: flex-end; }
.alignCenter { align-items: center; }
.alignBaseline { align-items: baseline; }
.alignStretch { align-items: stretch; }

/* grow/shrink */
.flexGrow { flex-grow: 1; }
.flexShrink { flex-shrink: 1; }