%btnCommon {
    align-items: center;
    background-color: transparent;
    border: none;
    border-radius: 0.3rem;
    color: $c-gray-333;
    display: inline-flex;
    justify-content: center;
    transition: all .3s;

    .icon {
        position: static;
    }
}

%bordered {
    border: 0.1rem solid $c-gray-ccc;
}

.btn,
.btnIcon {
   @extend %btnCommon;
}

.btn {
    @extend %btnCommon;
    padding: 1.6rem 3.2rem;

    &.primary {
        background-color: $c-primary;
        color: $c-white;

        &:hover {
            background-color: darken($c-primary, 5%);
        }
    }

    &.secondary {
        background-color: rgba($c-primary, 0.2);
        color: darken($c-primary, 5%);

        &:hover {
            background-color: rgba($c-primary, 0.4);
        }
    }

    &.link {
        color: $c-primary;
        padding: 0;
        width: auto;
    }

    &.bordered {
        @extend %bordered;
    }

    &:disabled {
        opacity: .6;
    }
}

.buttons {
    .btn,
    .btnIcon {
        &:not(:last-child){
            margin-right: .5rem;
        }
    }
}

.btnIcon {
    &.small {
        padding: 0.6rem 1.2rem;
    }

    &.medium {
        padding: 1rem 1.6rem;
    }

    &.large {
        padding: 1.4rem 2rem;
    }
    
    &.bordered {
        @extend %bordered;
    }
}