.input,
.select select,
.textarea,
.btn {
    
    &:disabled {
        // cursor: not-allowed;
        pointer-events: none;
    }
}

.input,
.select select,
.textarea {
    background-color: $cWhite;
    border: 0.1rem solid $cGrayCcc;
    border-radius: 0.3rem;
    flex-grow: 1;
    color: $cGray333 !important;
    font-size: 1.2rem;
    padding: 1.8rem 1.6rem;
    max-width: 100%;
    width: 100%;
}


.field {

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
    

    &:last-of-type {
       display: flex;
       justify-content: flex-end; 
    }
}

.label {
    color: #363636;
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: .8rem;

}


$hasIconPaddingLeft: 4rem;

.control {
    position: relative;
    width: 100%;

    &.has-icon-left {
        .input,
        .select select {
            padding-left: $hasIconPaddingLeft;
        }
    }

    &.has-icon-right {
        .input,
        .select {
            padding-right: $hasIconPaddingLeft;
        }
    }
}

.icon {
    align-items: center;
    color: #dbdbdb;
    display: flex;
    justify-content: center;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: $hasIconPaddingLeft;
    z-index: 4;

    &.is-left {
        left: 0;
    }
}

.icon .fa {
    svg path {
        fill: $cGrayCcc;
    }
}

%arrowDownPrimary {
    border: 0.3rem solid $cPrimary;
    border: {
        radius: 0.2rem;
        right: 0;
        top: 0;
    };
    content: "";
    display: block;
    height: 1rem;
    margin-top: -.4375rem;
    pointer-events: none;
    position: absolute;
    right: 1.5rem;
    top: 50%;
    transform: rotate(-45deg);
    width: 1rem;        
    z-index: 4;
}

.select {
    position: relative;

    &::after {
        @extend %arrowDownPrimary;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}

.checkbox,
.radio {
    cursor: pointer;
    display: inline-flex;
    font-size: 1.4rem;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem 0.5rem 4rem;
    position: relative;

    input {
        cursor: pointer;
        opacity: 0;
        position: absolute;

        &:hover,
        &:checked {

            & ~ .checkmark {
                border-color: transparent;

                &:after {
                    opacity: 1;
                }
            }
        }

        &:hover {
            & ~ .radioCircle {
                background-color: $cGrayAaa;
            }
        }

        &:checked {
            & ~ .radioCircle {
                background-color: $cPrimary;

                &:after {
                    opacity: 1;
                }
            }
        }


        &:disabled,
        .disabled {
            $defaultDisabledOpacity: 0.5;

            pointer-events: none;
            
            & ~ .checkmark {
                border-color: transparent;

                &:after {
                    opacity: $defaultDisabledOpacity;
                }
            }

            & ~ .radioCircle {
                opacity: $defaultDisabledOpacity;

                &:after {
                    opacity: 0;
                }
            }
        }
    }

    .checkmark {
        border-radius: 0.2rem;
        height: 2.5rem;
        left: 0;
        position: absolute;
        top: 0;
        width: 2.5rem;

        &:after {
            border: solid $cPrimary;
            border-width: 0 0.3rem 0.3rem 0;
            content: "";
            // display: none;
            opacity: 0.4;
            position: absolute;
            left: 0.7rem;
            height: 1.8rem;
            top: 0rem;
            transform: rotate(45deg);
            transition: all $transitionTime;
            width: 1rem;
        }
    }

    .radioCircle {
        $radioCircleSize: 2.5rem;

        background: $cGrayCcc;
        border-radius: $br50;
        content: "";
        height: $radioCircleSize;
        left: 0;
        position: absolute;
        top: 0;
        transition: all $transitionTime;
        width: $radioCircleSize;

        &:after {
            $radioCircleAfterSize: 1.9rem;

            background: $cWhite;
            border-radius: $br50;
            content: '';
            height: $radioCircleAfterSize;
            left: 0.3rem;
            opacity: 0;
            position: absolute;
            top: 0.3rem;
            width: $radioCircleAfterSize;
        }
    }
}

.textarea {
    height: 10rem;

    &[rows],
    .large {
        height: 20rem;
    }
}