@import '../../../utils/scss/constants/colors';

.changeDomainButton {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.6rem 1.2rem 0;
    width: 100%;
}

.addCookieButton {
    background-color: $cWhite;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 1.6rem 1.2rem 3.2rem;
    width: 22.4rem;
}
.goToAccount {
    padding: 0.8rem;
}

.sidenav {
    a {
        color: $cGray767;
        display: inline-block;
        padding: 0.8rem 0;
    }
    &__item_label {
        display: inline-block;
        margin-left: 0.8rem;
    }
}
.footer {
    
}