<form
  #createAccountForm="ngForm"
  (ngSubmit)="onSubmit()"
  class="createAccountForm mt-10"
>
    <h1 class="title is-2 mb-10">Criar conta</h1>
    <div class="field">
        <span class="iconContainer">
            <fa-icon [styles]="{'color': '#ccc'}" [icon]="faAt" size="sm"></fa-icon>
        </span>
        <input 
          type="e-mail" 
          class="input" 
          required 
          [(ngModel)]="user.email" 
          name="email" 
          placeholder="E-mail" 
        />
    </div>

    <div class="field">
        <span class="iconContainer">
          <fa-icon [styles]="{'color': '#ccc'}" [icon]="faUser" size="sm"></fa-icon>
        </span>
        <input 
            type="text" 
            class="input"
            name="user-name" 
            required 
            [(ngModel)]="user.name" 
            placeholder="Usuário"
        />
    </div>

    <div class="field">
      <span class="iconContainer">
        <fa-icon [styles]="{'color': '#ccc'}" [icon]="faKey" size="sm"></fa-icon>
      </span>
       <input 
              type="password" 
              class="input"
              required 
              [(ngModel)]="user.password" 
              name="password" 
              placeholder="Senha"
        />
    </div>

    <div class="field">
        <input 
            type="submit" 
            [disabled]="!createAccountForm.form.valid"
            ng-class="{'disabled': !createAccountForm.form.valid}"
            class="button primary"
            value="Cadastrar"
        />
    </div>


</form>
