@import '~normalize.css';

*, 
*:before, 
*:after {
    box-sizing: border-box;
}

html, body {
    background-color: $c-bg-primary;
    font-family: Roboto;
}

html {
    font-size: 62.5%;  /* =10px */
}


body {
    font-size: 1.4rem;
}

button, input[type="submit"] {
    &:hover {
        cursor: pointer;
    }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    color: $c-primary;
    text-decoration: none;
}

svg {
    color: $c-primary;
}

button {
    background-color: transparent;
    border: none;
}

button, 
input, 
select, 
textarea {
    margin: 0;
}

input {
    &:focus {
        outline: 0.1rem solid $c-gray-aaa;
        // outline-offset: 0;
    }
}

input[type=submit]:disabled  {
    pointer-events: none;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 5rem $c-white inset; /* Change the color to your own background color */
    -webkit-text-fill-color: $c-gray-333;
}

input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 5rem $c-white inset;/*your box-shadow*/
    -webkit-text-fill-color: $c-gray-333;
} 